*~
.#*
#*
*/#*
*.mex*
*.eps
*.ps
*.pdf
*.jpg
*.png
*.mat
*.fig
SAVE/*
*out
FIGS/*
MOVIE/*
test/*
.DS_Store
.directory
indata.txt
utdata.txt
experiments/Isl2Scan
experiments/paramScan
experiments/Phenotype
experiments/ComparePhenotype*
experiments/Andy
experiments/estimateActivityComponentStart-joblist.txt
experiments/NoActivity/NoActivity-*
experiments/Gierer2D
experiments/BalanceChemAct
Catherine/*
experiments/GrimbertCang-exploration/*
*.so
*.o
Gierer/*.txt
